{% extends 'assetsbase.html' %}
{% load staticfiles %}
{% block title %}服务器详细{% endblock %}

{% block css %}
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            服务器详细
            <small>server info</small>
        </h1>
    <ol class="breadcrumb">
        <li><a href="/assets/dashboard/"><i class="fa fa-dashboard"></i>主页</a></li>
        <li><a href="/assets/index/"><i class="fa fa-dashboard"></i>服务器总表</a></li>
        <li class="active">服务器详细</li>
    </ol>
    </section>
{% endblock %}

{% block script %}
    <!-- SlimScroll -->
    <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/lib/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <!-- page script -->
{% endblock %}